@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;600;700&display=swap');

:root {
	font-family: system-ui, sans-serif;
}

@mixin title($color) {
	color: $color;
	font-size: 25px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}

.title {
	@include title(on-surface(0));
}

.title-on-primary {
	@include title(on-primary(0));
}

.title-on-secondary {
	@include title(on-secondary(0));
}

.subtitle {
	color: on-surface(0);
	font-size: 20px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}
