@use 'reset';
@use 'components';
@use 'font';

/*** Uncomment the lines below for debugging ***/
// * {
// 	outline: solid 2px #ff510080 !important;
// }

:root {
	scroll-behavior: smooth;
}

body {
	background-color: surface(0);
	color: on-surface(1);
}
