@use 'reset';
@use 'components';
@use 'font';

/*** Uncomment the lines below for debugging ***/
// * {
// 	outline: solid 2px #ff510080 !important;
// }

:root {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
	color: on-surface(0);
}
p,
input,
button,
a,
label {
	color: on-surface(1);
}
