@use '../_variables.scss' as *;

.checkbox {
	width: var(--checkbox-size);
	height: var(--checkbox-size);
	border-radius: var(--checkbox-border-radius);
	border: solid var(--checkbox-border-size) primary(5);
	box-shadow: 0 0 var(--checkbox-shadow-size) #00000050;
	position: relative;
	transition: all 100ms;
	&:checked {
		background-color: primary(5);
		opacity: 1;
		&:before {
			border-color: #fff;
		}
	}
	&:before {
		content: '';
		position: absolute;
		right: calc(50% + 1px);
		top: 50%;
		width: 4px;
		height: 10px;
		border: solid transparent;
		border-width: 0 2px 2px 0;
		margin: -1px -1px 0 -1px;
		transform: rotate(45deg) translate(-50%, -50%);
		z-index: 2;
	}
}
