@use '../variables' as *;
.field {
	display: flex;
	flex-direction: column;
	gap: size(2);
	label,
	select,
	.label {
		font-size: 0.95em;
	}
	input,
	select {
		background-color: surface(0);
		padding: var(--text-field-standard-padding-y) var(--text-field-standard-padding-x);
		border-radius: var(--text-field-standard-border-radius);
		box-shadow: 0 0 var(--text-field-standard-shadow-size) #00000040;
		border: solid var(--text-field-standard-border-size) on-surface(1);
		transition: all 200ms;
		&:focus {
			box-shadow: 0 0 var(--text-field-standard-shadow-size) primary(5);
			border-color: primary(5);
		}
	}
	select {
		min-width: 200px;
		position: relative;
		background-image: url('data:image/svg+xml;utf8,<svg width="19" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 10.127L12 18.127L20 10.127H4Z" fill="%238E8E93"/></svg>');
		background-repeat: no-repeat;
		background-position-y: 23%;
		background-position-x: 94%;
	} /* Remove IE arrow */
	select::-ms-expand {
		display: none;
	}
}
